:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  background-color: #9bcec4;
}

#board {
  display: grid;
  margin: 50px auto;
  position: relative;
  transition: transform 0.5s ease;
  transform-origin: center center;
  background-color: #005140;
}

.status {
  font-size: 30px;
  font-weight: 500;
}

.direction-indicator {
  text-align: center;
  font-size: 28px;
}

[class^="row-"] {
  display: flex;
  height: 75px;
}

[class^="cell-"] {
  width: 75px;
  height: 100%;
  background: #005140;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

/* .player {
  width: 30px;
  height: 30px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 2;
} */

.rotate {
  transition: transform 400ms ease-in-out;
  transform: rotate(var(--rotation));
}
